* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}


@media (min-width: 1025px) {
  #root {
    margin: 10px auto;
    padding: 0 23px;
    max-width: 900px;
    border: 3px solid rgb(151, 151, 218);
    border-radius: 30px;
    box-shadow: 9px 10px 17px 1px #9e9bcf;
  }
  
}